#clock {
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0.8);
}

.flip {
    height: 70% !important;
    width: 10% !important;
    /* box-shadow: 5px 5px 5px #80143E !important; */
}

.flip-clock-divider {
    width: 1%;
    height: 70%;
    top: 5%;
}

.flip-clock-dot {
    background-color: #441D5B;
    left: 0;
}

.flip-clock-dot.top {
    top: 20%;
}

.flip-clock-dot.bottom {
    bottom: 20%;
}

.flip-clock-label {
    font-size: 25px;
    color: #441D5B !important;
    text-align: center;
}

.flip-clock-wrapper {
    display: flex;
}

.flip-clock-wrapper ul li a div div.inn {
    background-color: #441D5B;
    color: white;
}

@media screen and (orientation:portrait) {
    #clock {
        position: relative;
        top: 15%;
        transform: scale(0.8);
        margin: 0;
        /* width: 90%; */
    }
    #clouds {
        width: 95%;
    }
    .flip {
        height: 40% !important;
        /* box-shadow: 3px 3px 3px #80143E !important; */
    }
    .flip-clock-divider {
        width: 1%;
        height: 50%;
        top: 0;
        left: -2%;
    }
    .flip-clock-label {
        font-size: 20px;
    }
    .flip-clock-dot {
        transform: scale(0.5);
    }
    .inn {
        font-size: 40px !important;
        line-height: 100% !important;
    }
}

@media screen and (orientation:landscape) and (max-width:840px) {
    .flip-clock-divider {
        /* width: 1% !important; */
        height: 80%;
        /* top: 5%; */
        left: -0.5%;
    }
    .flip-clock-dot {
        height: 5px;
        width: 5px;
    }
    .flip-clock-label {
        font-size: 20px;
    }
    .inn {
        font-size: 40px !important;
        line-height: 100% !important;
    }
}

@media screen and (orientation:portrait) and (max-width:320px) {
    #clock {
        transform: scale(0.6);
    }
}

@media screen and (orientation:portrait) and (max-width:480px) {
    #clock {
        transform: scale(0.7);
    }
}